* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Be Vietnam Pro', sans-serif;
}
:root {
  --primary-color: rgb(144, 31, 250);
  --secondary-color: rgb(144, 31, 250);
  --accent-color: #E9D5FC;
  --shadow-color: rgb(144, 31, 250);
}

button.primary {
  padding: 10px;
  border: solid 1px var(--primary-color);
  background: var(--primary-color);
  color: white;
  border-radius: 8px;
}
