.listing-photo {
  height: 600px;
  width: 50%;
  object-fit: cover;
  border-radius: 30px;
  float: right;
}

.listing-heading {
  font-size: 32pt;
  font-weight: bold;
  margin-bottom: 15px;
}

.listing-location::before {
  content: "";
  display: inline-block;
  width: 27px;
  height: 27px;
  background: url('/assets/icons/pin-location.png') no-repeat center center;
  background-size: contain;
}

.listing-location {
  font-size: 22pt;
  margin-bottom: 15px;
}

.listing-features > .section-heading {
  color: var(--secondary-color);
  font-size: 20pt;
  margin-bottom: 15px;
}

.listing-features {
  margin-bottom: 20px;
}

.listing-features li {
  font-size: 13pt;
}

li {
  list-style-type: none;
}

.listing-apply .section-heading {
  font-size: 16pt;
  margin-bottom: 15px;
}

label, input {
  display: block;
}
label {
  color: var(--secondary-color);
  font-weight: bold;
  text-transform: uppercase;
  font-size: 11pt;
}
input {
  font-size: 16pt;
  margin-bottom: 15px;
  padding: 10px;
  width: 400px;
  border-top: none;
  border-right: none;
  border-left: none;
  border-bottom: solid .3px;
}
@media (max-width: 1024px) {
  .listing-photo {
    width: 100%;
    height: 400px;
  }
}
